<a href="https://colab.research.google.com/github/debadritray/Jokes-Generator/blob/main/Welcome_To_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
 df = pd.read_csv('new1_cleaned_data.csv')

In [3]:
print("Initial number of rows:", len(df))

Initial number of rows: 27400

In [4]:
df.drop_duplicates(inplace=True)
print("Number of rows after removing full duplicates:", len(df))

Number of rows after removing full duplicates: 27000

In [5]:
columns_for_rule2 = [col for col in df.columns if col != 'transaction_id']
df.drop_duplicates(subset=columns_for_rule2, keep='first', inplace=True)
print("Number of rows after removing duplicates differing only by transaction_id:", len(df))

Number of rows after removing duplicates differing only by transaction_id: 27000

In [6]:
duplicate_transaction_ids = df[df['transaction_id'].duplicated(keep=False)]['transaction_id'].unique()

print("Number of transaction IDs appearing more than once:", len(duplicate_transaction_ids))

Number of transaction IDs appearing more than once: 3835

In [7]:
df_cleaned = df[~df['transaction_id'].isin(duplicate_transaction_ids)].copy()

print("Number of rows after removing all instances of reused transaction IDs:", len(df_cleaned))

Number of rows after removing all instances of reused transaction IDs: 18524

In [8]:
print(df_cleaned.head())

   transaction_id company id  originating account  originating routing number  \
0      24091621.0    CMP2830         1.129868e+09                   263182794
1      24032998.0    CMP3906         1.146830e+09                   221675451
2      24031444.0    CMP7967         1.122698e+09                    62203049
5      23040849.0    CMP4606         1.174167e+09                   125200950
6      24093080.0    CMP1677         1.067714e+09                    62201135

   Start_date transaction_time    end date    amount  Receiver account  \
0  2024-09-16          Morning  2024-09-19  18324.44        3043386954
1  2024-03-29          Morning  2024-04-01   6205.86        3086332545
2  2024-03-14          Evening  2024-03-18  24866.48        2086398530
5  2023-04-08          Morning  2023-04-11  12430.86        2088177357
6  2024-09-30        Afternoon  2024-10-07      0.00        1067714095

   receiving routing number  is_fraud
0                21000322.0     False
1               941178223.0      True
2               111903517.0     False
5                62202134.0     False
6               111310870.0      True

In [9]:
    print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 18524 entries, 0 to 27399
Data columns (total 11 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   transaction_id              18524 non-null  float64
 1   company id                  18323 non-null  object
 2   originating account         18524 non-null  float64
 3   originating routing number  18524 non-null  int64
 4   Start_date                  18323 non-null  object
 5   transaction_time            18524 non-null  object
 6   end date                    18524 non-null  object
 7   amount                      18323 non-null  float64
 8   Receiver account            18524 non-null  int64
 9   receiving routing number    18524 non-null  float64
 10  is_fraud                    18524 non-null  bool
dtypes: bool(1), float64(4), int64(2), object(4)
memory usage: 1.6+ MB
None

In [12]:
df_cleaned.to_csv('cleaned_data.csv', index=False)
print("Cleaned data saved to 'cleaned_data.csv'")

Cleaned data saved to 'cleaned_data.csv'